/* Author: Tyler Zeller */
.floaty {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: pink;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 10000;
}

.floaty::after{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
}

.floaty.active::after {
  content: "";
  display: block;
  width: 400px;
  height: 400px;
  margin-left: -175px;
  margin-top: -175px;
}
