/* Author: Tyler Zeller */
.floaty {
  display: block;
  position: fixed;
  z-index: 10000;
}

.floaty.active {
  z-index: 10001;
}

.floaty::before{
  content: "";
  display: block;
  position: absolute;;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
}

.floaty.active::before {
  content: "";
  display: block;
  top: -500%;
  left: -500%;
  width: 1100%;
  height: 1100%;
}
